.App {
  text-align: center;
  font-family: 'Roboto';
}

/* egyptian backGround */
div{
  background-color: rgb(16, 52, 166);   
}

.link:link, .link:visited {
  
  text-decoration: none;
  color: white;
  margin-left: 20px;

}

.link:link, .link:visited {
  text-decoration: none;
    color: white;

}

.link:hover, .link:active {
  color: #C454EB;
  text-decoration: none;
}

.h7{

  font-weight:300 ;
  font-size:large;
  text-decoration: underline;
  margin: 0 25px 0 50px;
  font-style: italic;
  }

.h8{

font-weight: 100 ;
font-size: smaller;
margin: 0 25px 0 50px;
}

.h9{
margin: 0;
font-size: large; 
font-weight:500;
text-align: center;
}

.h10{
margin: 0 0 15px 0;
text-align: center;
}

.h11{
font-size:30px;
margin: 0 0 0 0;
text-align: right;
font-style: italic;
background-color: rgba(255,2255,255,0.5);
}

.h12{
font-size:25px;
margin: 0 0 0 0;
text-align: center;

}

.h13{

font-weight: 200 ;
font-size: 20px;
margin: auto;
font-style: oblique;
}


.hrBrown{

  color: brown;
  border: dotted 1px;
}

.hrGray{

  color: gray;
  border: solid 5px;

}

.hrPink{

  color: #F5A1E8;
  border: solid 5px;

}


.hrWhite{

  color: whitesmoke;
  border: solid 2px;
}

.boxCounter{

border: solid 1px red;

}

.txtCounter{
  display: inline-block;
  height: 40px;
  background-color: rgb(255,255,255,0.4);
  color: white;
  width: 120px;
  text-align: center;
  font-style: italic;
  border: solid 1px red;

}

.titleCartItems{

position:absolute; 
 left:20px;
 top: 85px;
 width: 100%;
 height: 50px;

}


.cartItemsRemove {

 cursor:pointer;
 position:relative; 
 left:-100px;
 width: 45px;
 height: 35px;
 border-radius: 15px;
 background: black;
 color: white;

}

.cartItemsRemove:hover{

  background-color: pink;
}


.ContA{

  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  gap: 30px;


}

.ItemA{

  display: flex;
  justify-items: baseline;
  height: 35px;
  flex-grow: 4;
}

.totalCart{

  background: rgba(16, 52, 166, 0.2);  ;
  
}

.totalCartCheckOut{

    margin: auto 150px;
}

.checkOutBox{
margin: 75px 0 15px 25px;
background-color: white;
text-decoration: underline;
font-size:xx-large;
}


.checkOutContainer{

margin-top: 25px;
width: 100%;
height: fit-content;
background-color: white;

display: flex;
flex-flow: column wrap;
justify-content: space-between;
align-items: flex-start;
align-content: center;
}

.checkOutItem{

/* border: solid 1px green; */
width: 80%;
margin: auto 25px ;


}


.removeItem:hover{
 color: #C454EB;
}

.containerCheckSum{
  background: rgba(16, 52, 166, 0.2);  ;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start ;
  align-items: flex-start;
  align-content: center;
}

.submitOrder{

margin: auto 10px ;
border: none;
background-color: rgba(255,255,255,0);
color: green;

}

.submitOrder:hover{

margin: auto 10px ;
border: none;
background-color: rgba(255,255,255,0.5);
color: yellowgreen;

}

.swal-modal {
  background-color: rgb(16, 52, 166);   
  border: 3px solid white;
}

.swal-title {
  margin: 0px;
  font-size: 100px;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, .21);
  margin-bottom: 28px;
  color: whitesmoke;
}

.swal-text {
  background-color: #C454EB;
  padding: 17px;
  border: 1px solid #F0E1A1;
  display: block;
  margin: 22px;
  text-align: center;
  color: white;
}